@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: none;
}
ul, li {
    list-style: none;
}
img {
    border: 0;
    vertical-align: middle;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #444;
    line-height: 1.14;
    letter-spacing: 0;
    word-break: break-all;
}
/* 레이아웃 */
.wrap {
    display: block;
    position: relative;
}
/* 헤더 */
.header {
    width: 100%;
    height: 80px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
}
.header:hover {
    height: calc(80px + 330px);
}
.header::before {
    width: 100%;
    height: 80px;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
}
.header::after {
    width: 100%;
    height: 330px;
    display: block;
    content: "";
    position: absolute;
    top: 81px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.header-inner {
    width: 100%; max-width: 1800px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    display: block;
    z-index: 1;
}
.logo {
    position: absolute;
    top: 20px;
    left: 0;
}
.nav {
    width: calc(178px * 6);
    margin: 0 auto;
    position: relative;
    display: block;
}
.gnb {
    position: relative;
    display: block;
    overflow: hidden;
}
.gnb > li {
    width: 178px;
    display: block;
    position: relative;
    float: left;
}
.gnb > li > a {
    height: 80px;
    position: relative;
    display: block;
    line-height: 80px;
    font-size: 500;
}
.gnb a:hover {
    color: #ed1c24;
}
.gnb > li:hover > a {
    color: #ed1c24;
}
.depth2 {
    position: relative;
    display: block;
    padding: 40px 0;
}
.depth2 > li {
    position: relative;
    display: block;
}
.depth2 > li > a {
    position: relative;
    display: block;
    color: white;
    font-size: 15px;
    line-height: 1.92em;
}
.lang {
    height: 24px;
    position: absolute;
    right: 28px;
    top: 32px;
}
.lang li {
    position: relative;
    display: block;
    float: left;
    line-height: 15px;
    border: 1px ;
}
.lang-list > li::after {
    width: 1px;
    height: 15px;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #888;
}
.lang-list > li:last-child::after {
    content: none;
}
.lang a {
    font-size: 15px;
    padding: 0 10px;
    color: #888;
    font-weight: 500;
    text-transform: uppercase;
}
.lang .lang-active {
    color: #444;
}